* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
  min-height: 100vh;
}

h2 {
    text-align: center;
    padding-top: 50px;
}